@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/*registro*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
    background: url('recursos/fondo2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
     
}

.wrapper {
    width: 750px;
    background:rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px 30px;
    margin: 10px auto;

}

.wrapper  h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box .input-field{
    position: relative;
    width: 48%;
    height: 50%;
    margin: 13px 0;

}

.input-box .input-field input{
    width: 100%;
    height: 100%;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;


}

.input-box .input-field input::placeholder{
    color: #fff;
}

.input-box .input-field i{
    position: absolute;
    top: 30%;
    left: 20px;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper label{
    display: inline-block;
    font-size: 14.5px;
    margin: 10px 0 23px;

}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper  .submit-logos{
     display: flex;
     justify-content: center;
     gap: 20px;
     margin-top: 20px;
     
}    

.wrapper .submit-logos i{
    font-size: 40px;
    cursor: pointer;
   
}    

@media (max-width: 576px){
    .input-box .input-field{
        width: 100%;
        margin: 10px 0;
    }
}

/*login*/

/*boton de inicio de sesion*/
.wrapper .btn-login{
    width: 13vh;
    height: 4vh;
    border: none;
    margin: 10px auto;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-left:90px;
    margin-top: 20px;
}
/*link de recuperar contraseña*/
.wrapper .label-recuperarC{
    font-size: -15px;
    margin-top: -10px;
    cursor: pointer;
    height: 30px;
    position: relative;
    left: 485px; 
    text-decoration: none;
    color:#fff;
}
/* quitar color a link */
.wrapper .label-recuperarC a{
    color: #fff;

}
/*pregunta sobre registro*/
.wrapper .label-pregistro{
    font-size: 15px;
    margin-right: 490px;
    margin-top: 15px;
    position: relative;
    white-space: nowrap;
    top: 20px;

} 
/*boton de registrar */
.wrapper .btn-registro{
    width: 13vh;
    height: 4vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 275px;
    position: relative;

    

}

/*posicion de los logos */
.wrapper .submit-logos-login{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -25px;


}
/*tamaño de lo logos*/
.wrapper .submit-logos-login i{
    font-size: 45px;
    cursor: pointer;
}
/*boton de recuperar contraseña */
.wrapper .btn-rcontraseña{
    width: 13vh;
    height: 5vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-top: -5px;
    width: 100%;
}
/* boton registro de login */
.wrapper .btn-registro-login{
    width: 13vh;
    height: 4vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 275px;
    position: relative;
    bottom: 35px;
    right: 70px;
   

}
/* boton de login para entrar a registro*/
.wrapper .label-pregistro-cambiar{
    font-size: 15px;
    position: relative;
    white-space: nowrap;
    bottom: 38px;
    right: 70px;

} 
/* boton de cambiar contraseña en login*/
.wrapper .btn-cambiar-login{
    width: 18vh;
    height: 5vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    white-space: nowrap;
    position: relative;
    bottom: 40px;
    right: 65px;

}
/* boton de cambiar contraseña */
.wrapper .btn-registro-cambiar{
    width: 18vh;
    height: 5vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    white-space: nowrap;
    position: relative;
    width: 100%;
   

}


